@charset="UTF-8";

      #communityTap{
            margin: 0 auto;
            width: 1200px;
            height: 50px;
        }

        #communityTap div{
            float: left;
            width: 150px;
            height: 50px;
            margin-right: 20px;
            border-radius: 10px 10px 0 0;
            background-color: #121212;
            /*border: 1px solid #424242;*/
            color: white;
        }

        #communityTap .on{
            background-color: #311b92;
            font-size: 18px;
        }


        #communityTap div a{
            display: block;
            width: 150px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 10px 10px 0 0;
            transition: .5s ease;
        }

        #communityTap div a:hover{
            background-color: #311b92;
            font-size: 18px;
        }

        /* Pagination links */
        .pagination a {
            color: white;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

        .boardListContents{
            margin: 0 auto;
            width: 1200px;
            height: 96px;
            background-color: black;
            border-top: 2px solid #424242;
        }

        .searchBoard{
            margin: 0 auto;
            width: 350px;
            height: 40px;
        }

        .searchBoard .boardListSearchSource{
            height: 30px;
            border-radius: 5px
        }

        .boardListContents p{
            font-size: 20px;
            color: white;
            margin-left: 20px;
        }

        .boardListContentsIndex{
            width: 1200px;
            height: 30px;
            border-bottom: 2px solid #424242;
            margin-top: 9px;
        }

        .boardListContentsIndex div{
            float: left;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }
        .boardListContentsIndex div:nth-child(1){
            width: 40px;
        }
        .boardListContentsIndex div:nth-child(2){
            width: 600px;
        }
        .boardListContentsIndex div:nth-child(3){
            width: 200px;
        }
        .boardListContentsIndex div:nth-child(4){
            width: 180px;
        }
        .boardListContentsIndex div:nth-child(5){
            width: 90px;
        }
        .boardListContentsIndex div:nth-child(6){
            width: 90px;
        }

        .viewBestList, .likeBestList{
            width: 1200px;
            height: 150px;
            background-color: black;
            margin: 0 auto;
        }

        .allBoardList{
            width: 1200px;
            height: 240px;
            background-color: black;
            margin: 0 auto;
        }

        .viewBestList li, .likeBestList li, .allBoardList li{
            width: 1200px;
            height: 28px;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            text-align :center;
            line-height: 28px;
        }

        .viewBestList li div, .likeBestList li div, .allBoardList li div{
            float: left;
            height: 30px;
        }

        .viewBestList .viewBestListNo, .likeBestList .likeBestListNo, .allBoardList .allBoardListNo{
            width: 40px;
        }

        .viewBestList .viewBestListName, .likeBestList .likeBestListName, .allBoardList .allBoardListName{
            width: 560px;
            text-align: left;
            text-indent: 30px;
        }
        .viewBestList .viewBestListName a, .likeBestList .likeBestListName a, .allBoardList .allBoardListName a{
            display: block;
            width: 560px;
        }

        .viewBestList .viewBestListLevel, .likeBestList .likeBestListLevel, .allBoardList .allBoardListLevel{
            width: 40px;
            line-height: 22px;
        }        
        .viewBestList .viewBestListLevel span, .likeBestList .likeBestListLevel span, .allBoardList .allBoardListLevel span{
            width: 35px;
            height: 25px;
            border: 2px solid #383838;
            border-radius: 2px;
            font-size:15px;
        }

        .viewBestList .viewBestListWriter, .likeBestList .likeBestListWriter, .allBoardList .allBoardListWriter{
            width: 200px;
        }

        .viewBestList .viewBestListWriter a, .likeBestList .likeBestListWriter a, .allBoardList .allBoardListWriter a{
            display: block;
            width: 200px;
        }

        .viewBestList .viewBestListUploadDate, .likeBestList .likeBestListUploadDate, .allBoardList .allBoardListUploadDate{
            width: 180px;
        }
        .viewBestList .viewBestListViewCount, .likeBestList .likeBestListViewCount, .allBoardList .allBoardListViewCount{
            width: 90px;
        }
        .viewBestList .viewBestListLikeCount, .likeBestList .likeBestListLikeCount, .allBoardList .allBoardListLikeCount{
            width: 90px;
        }

        .middleIndex{
            width: 1200px;
            height: 60px;
            background-color: #000;
            position: relative;
            margin: 0 auto;
        }

        .middleIndex div{
            width: 150px;
            heigth: 30px;
            font-size: 20px;
            margin-left: 20px;
            top: 30px;
            position: absolute;
        }

        .bottom{
            width: 1200px;
            height: 90px;
            margin: 0 auto;
            background-color: black;
        }
